.idea
.vscode
*__pycache__*
.venv
*.sln
*.lscache

src/resources/majdata/
src/resources/majdatax/
src/resources/ffmpeg/
src/resources/Bpm*
src/resources/for_release_only/majdata/
src/resources/for_release_only/majdatax/
src/resources/for_release_only/Bpm*
src/resources/for_release_only/python_portable/*.exe
src/resources/for_release_only/python_portable/*.zip

data/models/
data/temp
data/settings.json
data/settings.json.bak

python/
HachimiDX/

HachimiDX.exe
HachimiDX*.7z
HachimiDX*.zip
yolo26n.pt

OC_SORT-MASTER/
