.idea
.vscode
*__pycache__*
.venv
*.sln
*.lscache

src/resources/majdata/
src/resources/ffmpeg/
src/resources/for_release_only/majdata/

data/models/
data/temp
data/settings.json
data/settings.json.bak

python/
HachimiDX/

HachimiDX.exe
HachimiDX*.7z
yolo26n.pt

OC_SORT-MASTER/
